.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
  background-color: #12121f;
}

.toggleButton{
    position: absolute;
    top: 0;
    left: 0;
}

